{% extends 'base.html' %}

{% block title %}LaLaLoo - sign in to your account{% endblock %}

{% block content %}

<main class="row text-center" style="padding-top: 100px; padding-bottom: 100px;">
  <div class="col-md-4"></div>
  <form class="col-md-4" action="." method="POST">

    {% csrf_token %}
    
    <h2 class="mb-4">Sign in</h2>
    {% include 'inc/form-fields.html' %}
    <button class="btn btn-primary">Sign in</button>

    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger mt-3" role="alert">
          <p>{{message}}</p>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}

  </form>
</main>

{% endblock %}