{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

  <form method="POST" class="row mt-3 mb-3">

    {% csrf_token %}
    
    <input class="col-md-8 mt-3 form-control" name="search_request" placeholder="Search video by title or by #topic" type="search">
    <div class="col-md-4">
      <button class="btn btn-primary mt-3">Search</button>
    </div>

  </form>
  
  {% if videos %}

    {% for video in videos %}

    <div class="card mt-4 mb-4" style="box-shadow: 0 0 25px 3px rgb(165, 165, 165);">
      <div class="card-header d-flex justify-content-between pl-4 pr-4 pt-4">
        <h5 class="card-title">{{video.title}}</h5>
        
        {% if video.is_recently_uploaded %}
          <h5 class="text-danger">New</h5>
        {% endif %}
      
      </div>
      <div class="card-body row text-center">

        <div class="col-md-6 mt-3 mb-3">
          <video class="w-75" muted playsinline autoplay>
            <source src="{{video.video.url}}"/>
          </video>
        </div>
        <div class="col-md-6 mt-4 text-left">
          <p class="card-text">{{video.description|restrict_text}}</p>
          <p class="card-text"><small class="text-muted">{{video.date|timesince}} ago</small></p>
          <p class="card-text"><small class="text-muted"><i class="fas fa-user-alt"></i>{{video.author}}</small></p>
          <p class="card-text"><small class="text-muted"><i class="fas fa-eye"></i>{{video.views}}</small></p>
        </div>

      </div>
      <div class="container-fluid card-footer pl-4 pr-4 pt-3">

        <div class="row">
          <div class="col-md-6 pt-3">
            <h5 class="d-flex">

              <a onclick="sendLike(this)"
                data-adress="{% url 'videos:like-video' video.uuid %}"
                data-like-type="like"
                data-video-uuid="{{video.uuid}}"
                class="nav-link like-link"><span><i class="fas fa-thumbs-up"></i>
                <span id="likes">{{video.likes}}</span></span>
              </a>

              <a onclick="sendLike(this)"
                data-adress="{% url 'videos:like-video' video.uuid %}"
                data-like-type="dislike"
                data-video-uuid="{{video.uuid}}"
                class="nav-link like-link"><span><i class="fas fa-thumbs-down"></i>
                <span id="dislikes">{{video.dislikes}}</span></span>
              </a>
            
              </h5>
          </div>
          <div class="col-md-6 text-right">
            <a href="{{video.video.url}}" class="btn btn-primary mt-3" download>Download video</a>
            <a href="{% url 'videos:detail-video' video.uuid %}" type="button" class="btn btn-primary mt-3">View</a>
          </div>
        </div>
        
      </div>
    </div>

    {% endfor %}
  {% else %}
    <h2>No videos found ...</h2>
  {% endif %}

{% endblock %}

{% block extra-scripts %}

  <script>
    {% include "inc/likes-procession.js" %}
  </script>

{% endblock %}