<nav class="navbar p-4 navbar-expand-md navbar-dark" style="background-color: blueviolet;">

  <a class="navbar-brand d-flex flex-column align-items-center" href="{% url 'videos:main-page' %}">
    <h3>La La Loo <i class="fas fa-video"></i></h3>
    <p>A video hub service</p>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="color: white;">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item mt-3 ml-2 mr-2">
        <a class="nav-link text-light" href="{% url 'videos:privacy-policy' %}"><i class="fas fa-bookmark"></i>Privacy policy</a>
      </li>
      
      {% if user.is_authenticated %}

        <li class="nav-item mt-3 ml-2 mr-2">
          <a class="nav-link text-light" href="{% url 'account:profile' user.username %}"><i class="fas fa-user"></i>{{request.user.username}}</a>
        </li>

        <li class="nav-item mt-3 ml-2 mr-2">
          <a class="nav-link text-light" href="{% url 'account:signout' %}"><i class="fas fa-sign-out-alt"></i>Sign out</a>
        </li>

      {% else %}

        <li class="nav-item mt-3 ml-2 mr-2">
          <a class="nav-link text-light" href="{% url 'account:signin' %}"><i class="fas fa-sign-in-alt"></i>Sign in</a>
        </li>

        <li class="nav-item mt-3 ml-2 mr-2">
          <a class="nav-link text-light" href="{% url 'account:signup' %}"><i class="fas fa-user-plus"></i>Sign up</a>
        </li>

      {% endif %}

    </ul>
  </div>
</nav>